@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
img,
h1,
h2,
h3,
p,
li,
ul,
body,
html {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  background: #FFFFFF;
  color: #464646;
  font-family: 'Lato', serif;
}
h1 {
}
h2 {
  font-size: 18px;
  font-weight: 500;
}
h3 {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom:10px;
}
h4 {
  font-size: 12px;
  padding-top: 20px;
  font-weight: 400;
}
header {
  font-family: 'Open Sans';
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  padding: 5px 80px 5px 0px;
  margin: 0;
}
ul {
  background-color: #FFFFFF;
  height: 60px;
}
#nav-bar{
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 1px 1px #778cc0;
  z-index: 1;
}
@media only screen and (max-width: 500px) {
  #nav-bar {
  }
}
#nav-bar a {
  margin-left: auto;
  margin-right: auto;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: #006DB0;
  padding: 1.1em;
}
.nav-link:hover{
  color: black;
}
ul {
  list-style: none;
  line-height: 1.2;
  padding: 0;
}
li {
  text-align: center;
  overflow: visible;
  position: relative;
  color: #d0c9e3;
  font-size: 16px;
}
@media only screen and (max-width: 500px) {
  #nav-bar li {
    display: none;
  }
}
#header-img{
  position: absolute;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 15%;
}
@media only screen and (max-width: 500px) {
  #header-img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
  }
}
strong {
  font-weight: 900;
}
a:visited {
  color: #919098;
}
.underbar {
  background-color: #006DB0;
  padding-top: 100px;
  margin: auto;
}
#underbarcontainer {
  width: 60%;
}
#underbarcontainer h1 {
  font-size: 20px;
  color: #FFFFFF;
  text-align: left;
  padding-left: 70px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 500px) {
  #underbarcontainer h1 {
    padding-left: 110px;
  }
}
.numberbar {
  background-color: #006DB0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  clear: both;
}
.numberbar h1 {
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 30px;
  color: white;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Lato', serif;
}
.numberbar h2 {
  font-weight: 400;
  font-size: 60px;
  padding-right: 5px;
  font-family: 'Lato', serif;
  color: black;
}
@media only screen and (max-width: 500px) {
  .numberbar h2 {
    font-size: 40px;
  }
}
#numberbarcontainer {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  #numberbarcontainer {
 display: block;
  width: 90%;
  }
}
#numberbarcontainer p {
 font-weight: 900; 
}
#numberbarcontainer div {
  width: 25%;
}
@media only screen and (max-width: 500px) {
  #numberbarcontainer div {
  width: 60%;
  margin: auto;
  padding-bottom: 15px;
}
}
#main {
  margin: auto;
  height: auto;
  width: 100%;
}
#main p {
  width: 50%;
  margin: auto;
  font-size: 16px;
  line-height: 25px;
}
@media only screen and (max-width: 500px) {
  #main p {
    width: 90%;
    text-align: center;
  }
}
.aboutus {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 60%;
  margin: auto;
  text-align: left;
  line-height: 25px;
}
@media only screen and (max-width: 500px) {
.aboutus {
  width: 80%;
  text-align: center;
}
}
.aboutus hr{
width: 50%;
margin-top: 50px;
margin-bottom: 0px;
}
#aboutimg {
  padding-top: 20px;
}
.contact {
  padding-top: 120px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 75%;
  margin: auto;
  text-align: left;
  line-height: 25px;
}
.contact p {
  padding-bottom: 15px;
}
.maintwo {
padding-top:110px;
margin: auto;
height: auto;
width: 80%;
}
@media only screen and (max-width: 500px) {
 .maintwo {
   padding-top: 60px;
  }
}
.maintwo p {
   width: 90%;
  margin: auto;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 10px;
  text-align: left;
}
@media only screen and (max-width: 500px) {
 .maintwo p {
   text-align: center;
  }
}
.maintwo hr {
  color: black;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.maintwo br {
  clear: both;
}
#team {
padding-top:50px;
padding-bottom: 50px;
margin: auto;
height: auto;
width: 80%;
}
@media only screen and (max-width: 500px) {
  #team {
    width: 90%;
  }
}
#teamimg{
  float: left;
  width: 20%;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 50px;
  margin-bottom: 10px;
  border: 1px solid black;
}
@media only screen and (max-width: 500px) {
  #teamimg {
    width: 50%;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}
#team p {
  width: 90%;
  margin: auto;
  font-size: 16px;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
@media only screen and (max-width: 500px) {
  #team p {
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: black;
  }
}
#team a {
  margin-left: auto;
  margin-right: auto;
}
#team hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
#teambox {
  box-sizing: border-box;
  width: 100%;
}
#linkedin {
  display: inline-block;
  text-align: left;

}
#linkedinimg {
  width: 15%;
}
@media only screen and (max-width: 800px) {
 #linkedinimg {
   width: 40%;
  }
}
#title {
  color: #FFFFFF;
 font-size: 50px;
  font-family: 'Roboto Slab';
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
  position: absolute;
  width: 100%;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 800px) {
  #title {
    font-size: 30px;
    top: 45%;
}
  }
@media only screen and (max-width: 500px) {
  #title {
    top: 35%;
    font-size: 16px;
}
  }
#img-div {
  padding-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  #img-div {
    padding-top: 70px;
  }
}
#img-div2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 40px;
}
@media only screen and (max-width: 500px) {
  #img-div2 {
    padding-top: 60px;
}
  }
#image {
  padding-bottom: 60px;
}
#image2 {
  padding: 0;
}
.shasta-info {
  font-size: 15px;
  padding-bottom: 50px;
  text-align: left;
}
@media only screen and (max-width: 500px) {
  .shasta-info {
    font-size: 10px;
  }
}
.shasta-info h1 {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: left;
  color: #006DB0;
}
@media only screen and (max-width: 500px) {
  .shasta-info h1 {
    font-size: 20px;
    text-align: center;
    line-height: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .shasta-info p {
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: black;
  }
}
#biggertext {
 font-size: 20px; 
}
@media only screen and (max-width: 500px) {
 #biggertext {
   font-size: 12px;
   font-weight: 200;
  }
}
.shasta-info2 {
  padding-bottom: 80px;
  text-align: left;
  font-weight: 600;
}
.shasta-info2 p {
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
 .shasta-info2 {
   text-align: center;
   padding-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
 .shasta-info2 p {
   font-size: 14px;
  }
}
#tribute-link {
  font-style: normal;
  font-size: 13px;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.tombstone {
  float: left;
  width: 25%;
  margin-right: 30px;
  margin-left: 20px;
  padding-bottom: 40px;
}
.tombstone2container {
  width: 90%;
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 500px) {
 .tombstone2container {
  width: 90%;
   display: block;
  }
}
#tombstone2 {
  width: 20%;
  margin-right: 20px;
}
@media only screen and (max-width: 500px) {
  #tombstone2 {
   float: none;
    width: 60%;
    padding-right: 0px;
    padding-bottom: 10px;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .tombstone {
    width: 70%;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}
#contactfooter {
 position: absolute;
 bottom: 0;
 width: 100%;
}
#footerbar {
  width: 100%;

}
#footerber br {
  clear: both;
}

#footerbar p{
  display: flex;
  color: #FFFFFF;
  position: absolute;
  padding-top: 25px;
  padding-left: 50px;
  float: none;
}
#footerbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  bottom: 0;
  list-style: none;
  align-items: center;
  padding: 5px 80px 5px 0px;
  margin: 0;
  background-color: black;
  box-shadow: 1px 1px #778cc0;
}
@media only screen and (max-width: 500px) {
  #footerbar ul {
    display: inline;
    padding: 0;
    background-color: transparent;
  }
}
#footbar a {
  margin-left: auto;
  margin-right: auto;
}
.footer-link{
  text-decoration: none;
  font-weight: 500;
  color: #FFFFFF;
  padding: 20px;
}
@media only screen and (max-width: 500px) {
  .footer-link {
    padding-bottom: 10px;
    color: black;
  }
}
.footer-link:hover{
  color: #778cc0;
}

.topnav {
  color: white;
  position: relative;
  display: none;
}
@media only screen and (max-width: 500px) {
  .topnav {
    display: block;
  }
}
.topnav i {
  padding-top: 10px;
  padding-right: 10px;
}
.topnav #myLinks {
  display: none;
  background-color: #006DB0;
}
#myLinks a:hover {
  background-color: grey;
}
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {  
  color: blue;
}

@media only screen and (max-width: 767px) {
   #main div {
    width: 95%;
     } 
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 10px;
  }
  ul {
    font-size: 12px;
    line-height: 1.0;
  }
  li {
    padding-bottom: 10px;
  }
  #img-caption {
    font-size: 9px;
  }
}
